@media (max-width: 500px) {
    #drmarioImage{
        content:url("/media/drmario/alt-drmario-tumbnail.png")
    }
    #pokulationImage{
        content:url("/media/pokulation/alt-pokulation-thumbnail.png")
    }
    #greedImage{
        content:url("/media/greed/alt-greed-thumbnail.png")
    }
    #websiteImage{
        content:url("/media/website/alt-website-thumbnail.png")
    }
    #pokeapiImage{
        content:url("/media/pokeapi/alt-pokeapi-thumbnail.png")
    }
    #aidehdImage{
        content:url("/media/aidehd/alt-aidehd-thumbnail.png")
    }
    #tbaImage{
        content:url("/media/tba/alt-tba-thumbnail.png")
    }
    body {
        overflow-y: hidden;
        overflow-x: auto;
    }

    #previewTrack {
        display: flex;
        gap: 4vmin;
        position: absolute;
        left: 20%;
        top: 48%;
        transform: translate(0%, -50%);
    }
    
    #wrapper .intro {
        transition: none;
        opacity: 50%;
    }
    #wrapper:hover .intro {
    transform: none;
    opacity: 30%;
    }
    #wrapper .contact {
        position: relative;
        opacity: 100%;
        bottom: -20px;
    }
    #wrapper .text {
        position:relative;
        opacity: 100%;
        bottom: -5px;
        transition-duration: none;
    }
    #wrapper .image {
        transition: none;
        opacity: 70%;
    }
    #wrapper:hover .image {
        transform: none;
    }
    #clickDrag {
        position: absolute;
        bottom: 5%;
        left: 150px;
    }
}
